body {
  font-family: 'Nunito Sans', sans-serif;
}

section {
  background-color: white;
}

.hero {
  background-color: #f6f5f0;
  height: 100vh;
  color: #2d2d2b;
  font-size: 40px;
}

footer {
  height: 80px;
  background-color: #f6f5f0;
  color: #2d2d2b;
  text-align: center;
  padding: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 30px;
}

ul.show {
  display: block;
}

li {
  width: 200px;
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 40px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 40px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #d4bab0;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #eae6df;
}

.button:active {
  background-color: #898989;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}

.social {
  margin: 20px;
}

.logo {
  height: 100px;
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alt {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;  
}

.cypicture {
  width: 300px;
  border-radius: 150px;
}

.cypicture-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 350px;
  height: 400px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin: 10px;
  border-radius: 15px;
}

.project-container {
  display: flex;
  justify-content: space-around;
  
}

.proj-button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #d4bab0;
  border: 1px solid #2d2d2b;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  padding: 5px;
  margin-top: 40px;
  margin-left: 100px;
}

.proj-button:hover {
  background-color: #eae6df;
}

.proj-button:active {
  background-color: #898989;
  color: #808080;
}

@media only screen and (max-width: 1000px) {
.project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image1 {
  width: 150px;
  height: 150px;
  border-radius: 125px;
  margin-top: 25px;
}

.project-image2 {
  width: 150px;
  height: 150px;
  border-radius: 125px;
  margin-top: 25px;
}

.project-image3 {
  width: 150px;
  height: 150px;
  border-radius: 125px;
  margin-top: 25px;

}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #2d2d2b;
}

a {
  text-decoration: none;
  color: #2d2d2b;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: #2d2d2b;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #f6f5f0;
    margin: 0px;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #f6f5f0;
  }

.logo {
 display: none;
}
 
}